<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Aurora.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Aurora.Properties.Settings>
            <setting name="top_led" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="side_led" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="active_top" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="active_bottom" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="led_dir" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="led_input" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="active_right" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="active_left" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="serial_port" serializeAs="String">
                <value />
            </setting>
        </Aurora.Properties.Settings>
    </userSettings>
</configuration>